In [28]:
1. # Problem 1 concerns the locations of shopping centres: find their addresses and translate them into coordinates. Find out the addresses of the 
# following shopping centres (e.g., by using your favourite search engine), and collect them in a text file called shopping_centres.txt: Itis Forum 
# Iso-omena Sello Jumbo REDI Tripla. The text file should be in semicolon-separated format (;) and include the following columns: id (integer) a unique 
# identifier for each shopping centre (a name (string) of each shopping center addr (string) the address


# The text file was created in excel and saved as shopping_centres.csv into the learning_gis/Exercises directory

1.0

In [29]:
2. # Read the list of addresses you just prepared into a pandas.DataFrame called shopping_centres

2.0

In [30]:
import pandas as pd


shopping_centres = pd.read_csv(r'C:\Users\acer\Documents\projects\learning_gis\Exercises\shopping_centres.csv')
shopping_centres

    ID        NAME                                       ADDRESS
0  100       Itis'           Itäkatu 1-7 00930 Helsinki Finland'
1  200      Forum'            Mannerheimintie 20 00100 Helsinki'
2  300  Iso-Omena'              Piispansilta 11 FIN-02230 ESPOO'
3  400      Sello'      Leppävaarankatu 3-9 02600 Espoo Finland'
4  500      Jumbo'     Vantaanportinkatu 3 01510 Vantaa Finland'
5  600       REDI'  Hermannin rantatie 5 00580 Helsinki Finland'
6  700     Tripla'     Fredikanterassi 1 00520 Helsinki Finland'

In [31]:
3. # Geocode the addresses using the Nominatim geocoding service. Join the results with the input data, and store them in a geopandas.GeoDataFrame with
# the same name (shopping_centres). Check that the coordinate reference system of the geocoded result is correctly defined, and reproject the 
# layer into ETRS GK-25 (EPSG:3879):

3.0

In [32]:
import geopandas as gpd

# geocodes the addresses using nominatim service

geocoded_address = gpd.tools.geocode(
    shopping_centres['ADDRESS'],
    provider= 'nominatim',
    user_agent = 'dowlings',
    timeout = 10

)

geocoded_address

,geometry,address
0,POINT (25.07908 60.21027),"Huoneistokeskus, 1-7, Itäkatu, Itäkeskus, Vart..."
1,POINT (24.93801 60.16937),"Carlings, 20, Mannerheimintie, Keskusta, Kluuv..."
2,POINT EMPTY,None
3,POINT (24.81150 60.21812),"Bik Bok, 3-9, Leppävaarankatu, Säteri, Etelä-L..."
4,POINT (24.96282 60.29245),"Stockmann, 3, Vantaanportinkatu, Vantaanportti..."
5,POINT (24.97999 60.18670),"JYSK, 5, Hermannin rantatie, Verkkosaari, Kala..."
6,POINT (24.93136 60.19821),"Original Sokos Hotel Tripla, 1, Fredikanterass..."

In [33]:
# joining initial data with geocoded address stored in a geopandas df

shopping_centres = geocoded_address.join(shopping_centres)
shopping_centres

,geometry,address,ID,NAME,ADDRESS
0,POINT (25.07908 60.21027),"Huoneistokeskus, 1-7, Itäkatu, Itäkeskus, Vart...",100,Itis',Itäkatu 1-7 00930 Helsinki Finland'
1,POINT (24.93801 60.16937),"Carlings, 20, Mannerheimintie, Keskusta, Kluuv...",200,Forum',Mannerheimintie 20 00100 Helsinki'
2,POINT EMPTY,None,300,Iso-Omena',Piispansilta 11 FIN-02230 ESPOO'
3,POINT (24.81150 60.21812),"Bik Bok, 3-9, Leppävaarankatu, Säteri, Etelä-L...",400,Sello',Leppävaarankatu 3-9 02600 Espoo Finland'
4,POINT (24.96282 60.29245),"Stockmann, 3, Vantaanportinkatu, Vantaanportti...",500,Jumbo',Vantaanportinkatu 3 01510 Vantaa Finland'
5,POINT (24.97999 60.18670),"JYSK, 5, Hermannin rantatie, Verkkosaari, Kala...",600,REDI',Hermannin rantatie 5 00580 Helsinki Finland'
6,POINT (24.93136 60.19821),"Original Sokos Hotel Tripla, 1, Fredikanterass...",700,Tripla',Fredikanterassi 1 00520 Helsinki Finland'

In [34]:
# there is a duplicate column name 'address' in the gdf which will run an error later when writing it to a new file, hence one as to be renamed

# renames the initials address column to a different name

shopping_centres.rename(columns={'ADDRESS': 'ADDR'}, inplace= True)
shopping_centres

,geometry,address,ID,NAME,ADDR
0,POINT (25.07908 60.21027),"Huoneistokeskus, 1-7, Itäkatu, Itäkeskus, Vart...",100,Itis',Itäkatu 1-7 00930 Helsinki Finland'
1,POINT (24.93801 60.16937),"Carlings, 20, Mannerheimintie, Keskusta, Kluuv...",200,Forum',Mannerheimintie 20 00100 Helsinki'
2,POINT EMPTY,None,300,Iso-Omena',Piispansilta 11 FIN-02230 ESPOO'
3,POINT (24.81150 60.21812),"Bik Bok, 3-9, Leppävaarankatu, Säteri, Etelä-L...",400,Sello',Leppävaarankatu 3-9 02600 Espoo Finland'
4,POINT (24.96282 60.29245),"Stockmann, 3, Vantaanportinkatu, Vantaanportti...",500,Jumbo',Vantaanportinkatu 3 01510 Vantaa Finland'
5,POINT (24.97999 60.18670),"JYSK, 5, Hermannin rantatie, Verkkosaari, Kala...",600,REDI',Hermannin rantatie 5 00580 Helsinki Finland'
6,POINT (24.93136 60.19821),"Original Sokos Hotel Tripla, 1, Fredikanterass...",700,Tripla',Fredikanterassi 1 00520 Helsinki Finland'

In [35]:
# checking the crs of the geocoded result and reprojecting it to  ETRS GK-25 (EPSG:3879)

crs = geocoded_address.crs
crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [36]:
# reprojecting crs

reproject = geocoded_address.to_crs('EPSG:3879', inplace =True)
reproject

In [48]:
geocoded_address.crs

<Projected CRS: EPSG:3879>
Name: ETRS89 / GK25FIN
Axis Info [cartesian]:
- N[north]: Northing (metre)
- E[east]: Easting (metre)
Area of Use:
- name: Finland - nominally onshore between 24°30'E and 25°30'E but may be used in adjacent areas if a municipality chooses to use one zone over its whole extent.
- bounds: (24.5, 59.94, 25.5, 68.9)
Coordinate Operation:
- name: Finland Gauss-Kruger zone 25
- method: Transverse Mercator
Datum: European Terrestrial Reference System 1989 ensemble
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [50]:
4. # Save shopping_centres as a GeoPackage named shopping_centres.gpkg:

4.0

In [52]:
write = shopping_centres.to_file(r'C:\Users\acer\Documents\projects\learning_gis\Exercises\shopping_centres.gpkg')

write

ImportError: The 'to_file' method requires the 'pyogrio' or 'fiona' package, but neither is installed or imports correctly.
Importing fiona resulted in: DLL load failed while importing _env: The specified module could not be found.
Importing pyogrio resulted in: No module named 'pyogrio'

In [ ]:
'''SECOND PART OF EXERCISE: Create buffers around shopping centers '''

In [ ]:
5. # First, load the shopping centre point data set you created in problem 1 into a GeoDataFrame called shopping_centres.

In [ ]:
import geopandas as gpd

shopping_centres = gpd.read_file(r'C:\Users\acer\Documents\projects\learning_gis\Exercises\shopping_centres.gpkg')

# crs is EPSG 4326 AND HAS TO BE REPROJECTED
shopping_centres.to_crs('EPSG:3879', inplace = True)
shopping_centres

,address,ID,NAME,ADDR,geometry
0,"Huoneistokeskus, 1-7, Itäkatu, Itäkeskus, Vart...",100,Itis',Itäkatu 1-7 00930 Helsinki Finland',POINT (25504384.737 6677502.772)
1,"Carlings, 20, Mannerheimintie, Keskusta, Kluuv...",200,Forum',Mannerheimintie 20 00100 Helsinki',POINT (25496558.626 6672944.388)
2,NaN,300,Iso-Omena',Piispansilta 11 FIN-02230 ESPOO',None
3,"Bik Bok, 3-9, Leppävaarankatu, Säteri, Etelä-L...",400,Sello',Leppävaarankatu 3-9 02600 Espoo Finland',POINT (25489551.290 6678388.954)
4,"Stockmann, 3, Vantaanportinkatu, Vantaanportti...",500,Jumbo',Vantaanportinkatu 3 01510 Vantaa Finland',POINT (25497943.932 6686656.982)
5,"Kalasataman apteekki, 5, Hermannin rantatie, S...",600,REDI',Hermannin rantatie 5 00580 Helsinki Finland',POINT (25498810.387 6674866.807)
6,"Original Sokos Hotel Tripla, 1, Fredikanterass...",700,Tripla',Fredikanterassi 1 00520 Helsinki Finland',POINT (25496192.733 6676158.022)

In [ ]:
# reprojected crs
shopping_centres.crs

<Projected CRS: EPSG:3879>
Name: ETRS89 / GK25FIN
Axis Info [cartesian]:
- N[north]: Northing (metre)
- E[east]: Easting (metre)
Area of Use:
- name: Finland - nominally onshore between 24°30'E and 25°30'E but may be used in adjacent areas if a municipality chooses to use one zone over its whole extent.
- bounds: (24.5, 59.94, 25.5, 68.9)
Coordinate Operation:
- name: Finland Gauss-Kruger zone 25
- method: Transverse Mercator
Datum: European Terrestrial Reference System 1989 ensemble
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [ ]:
6. # Calculate a 1.5 km buffer for each geocoded point. Overwrite the geometry column with the new buffer geometry. Use the geopandas.GeoDataFrame.buffer() 
# method, that uses shapely’s buffer() in the background. You only need to care about the distance parameter, don’t worry about the possible other 
# arguments.

In [ ]:
# creating a 1.5km buffer aroung the points while overwriting the geometry column

shopping_centres['geometry'] = shopping_centres.buffer(distance = 1500)

# printing the data frame shows the overwrtten buffered geometries
shopping_centres

,address,ID,NAME,ADDR,geometry
0,"Huoneistokeskus, 1-7, Itäkatu, Itäkeskus, Vart...",100,Itis',Itäkatu 1-7 00930 Helsinki Finland',"POLYGON ((25505884.737 6677502.772, 25505877.5..."
1,"Carlings, 20, Mannerheimintie, Keskusta, Kluuv...",200,Forum',Mannerheimintie 20 00100 Helsinki',"POLYGON ((25498058.626 6672944.388, 25498051.4..."
2,NaN,300,Iso-Omena',Piispansilta 11 FIN-02230 ESPOO',None
3,"Bik Bok, 3-9, Leppävaarankatu, Säteri, Etelä-L...",400,Sello',Leppävaarankatu 3-9 02600 Espoo Finland',"POLYGON ((25491051.290 6678388.954, 25491044.0..."
4,"Stockmann, 3, Vantaanportinkatu, Vantaanportti...",500,Jumbo',Vantaanportinkatu 3 01510 Vantaa Finland',"POLYGON ((25499443.932 6686656.982, 25499436.7..."
5,"Kalasataman apteekki, 5, Hermannin rantatie, S...",600,REDI',Hermannin rantatie 5 00580 Helsinki Finland',"POLYGON ((25500310.387 6674866.807, 25500303.1..."
6,"Original Sokos Hotel Tripla, 1, Fredikanterass...",700,Tripla',Fredikanterassi 1 00520 Helsinki Finland',"POLYGON ((25497692.733 6676158.022, 25497685.5..."

In [ ]:
7. # Save the data frame containing the buffer geometries into a new layer buffers inside the same GeoPackage shopping_centres.gpkg

In [ ]:
write_file = shopping_centres.to_file(r'C:\Users\acer\Documents\projects\learning_gis\Exercises\shopping_centres.gpkg', layer = 'buffers', driver= 'GPKG', mode = 'w')

write_file

NameError: name 'shopping_centres' is not defined

In [ ]:
import geopandas as gpd

file = gpd.read_file(r'C:\Users\acer\Documents\projects\learning_gis\Exercises\shopping_centres.gpkg')

file

,address,ID,NAME,ADDR,geometry
0,"Huoneistokeskus, 1-7, Itäkatu, Itäkeskus, Vart...",100,Itis',Itäkatu 1-7 00930 Helsinki Finland',POINT (25.07908 60.21027)
1,"Carlings, 20, Mannerheimintie, Keskusta, Kluuv...",200,Forum',Mannerheimintie 20 00100 Helsinki',POINT (24.93801 60.16937)
2,NaN,300,Iso-Omena',Piispansilta 11 FIN-02230 ESPOO',None
3,"Bik Bok, 3-9, Leppävaarankatu, Säteri, Etelä-L...",400,Sello',Leppävaarankatu 3-9 02600 Espoo Finland',POINT (24.81150 60.21812)
4,"Stockmann, 3, Vantaanportinkatu, Vantaanportti...",500,Jumbo',Vantaanportinkatu 3 01510 Vantaa Finland',POINT (24.96282 60.29245)
5,"Kalasataman apteekki, 5, Hermannin rantatie, S...",600,REDI',Hermannin rantatie 5 00580 Helsinki Finland',POINT (24.97856 60.18664)
6,"Original Sokos Hotel Tripla, 1, Fredikanterass...",700,Tripla',Fredikanterassi 1 00520 Helsinki Finland',POINT (24.93136 60.19821)